# Dependency directories
node_modules/

# IDE configs
.idea

# Custom files and folders
.experiments
.secrets*

.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

Dockerfile.redstone-dev
yarn-error.log

# Published on git but ignored on NPM
lib
src
tools
test
manifests
.github
